.button-class {
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: px 20px;
    width: 200px;
    height: 200px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 1px #BF2424;
    font-family: 'Anime Ace', sans-serif;
    font-style: bold;
    font-weight: 100%;
    border-radius: 100%;
    color: black;
    }

.button-class:hover {
    background-color: #BF2424;
    color: white;
}
 
body {
    background-color: #76AAE8;
    display: grid;
    margin: 0px;
    padding: 0px;
    margin-top: -10%;
}




.child-to-body {
    width: 300px;
    height: 400px;
    flex-shrink: 0;

}

.poke_box {
    position: fixed;
    bottom: 185px;
    right: 200px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
}

.pokeball {
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: shake 1.25s cubic-bezier(.36, .07, .19, .97) infinite;
    animation-play-state: paused;
    position: fixed;
}

.pokeball:hover {
    animation-play-state: running;
}



.pokeball::before,
.pokeball::after {
    content: "";
    position: absolute;
}

.pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
}

.pokeball::after {
    top: calc(50% - 5px);
    width: 100%;
    height: 10px;
    background: #000;
}

.pokeball__button {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #fff;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 7px black;
    animation: blink .5s alternate infinite;
    animation-play-state: paused;
}

.pokeball:hover .pokeball__button {
    animation-play-state: running;
}

@keyframes blink {
    from {
        background: #eee;
    }

    to {
        background: #e74c3c;
    }
}

.pokemon-list {

    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    display: grid;
    
}
    
h1 {
    text-indent: 20%;
    color: #056CF2;
    font-size: 100px;
    font-family: 'Pokemon Solid', sans-serif;
    background-color: #C0D9FC;
    height: 60%;
    text-shadow: 2px 2px #BF2424; 
    
}

::-webkit-validation-bubble-arrow-clipper {
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: relative;
    bottom: 50px;   
    width: 150px;
}

p {
    position: relative;
    top: 9rem;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 0;
    font-family:'Anime Ace', sans-serif;
    font-style: bold; 
}

.child-to-body {
    width: 300px;
    height: 400px;
    flex-shrink: 0;

}

.poke_box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pokeball  {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 10px #ccc;
    animation: shake 1.25s cubic-bezier(.36, .07, .19, .97) infinite;
    animation-play-state: paused;
    bottom: 300px;
    left: 400px;
}

.pokeball:hover {
    animation-play-state: running;
}

@keyframes shake {
    0% {
        transform: translate(0, 0) rotate(0);
    }

    20% {
        transform: translate(-10px, 0) rotate(-20deg);
    }

    30% {
        transform: translate(10px, 0) rotate(20deg);
    }

    50% {
        transform: translate(-10px, 0) rotate(-10deg);
    }

    60% {
        transform: translate(10px, 0) rotate(10deg);
    }

    100% {
        transform: translate(0, 0) rotate(0);
    }
}

.pokeball::before,
.pokeball::after {
    content: "";
    position: absolute;
}

.pokeball::before {
    background: red;
    width: 100%;
    height: 50%;
}

.pokeball::after {
    top: calc(50% - 5px);
    width: 100%;
    height: 10px;
    background: #000;
}

.pokeball__button {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #fff;
    border: 4px solid #7f8c8d;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 7px black;
    animation: blink .5s alternate infinite;
    animation-play-state: paused;
}

.pokeball:hover .pokeball__button {
    animation-play-state: running;
}

@keyframes blink {
    from {
        background: #eee;
    }

    to {
        background: #e74c3c;
    }
}



@media only screen and (max-width: 480px) {
    img {
        width: 100%;
    }
}
html, 
body {
  font-family: Arial, sans-serif;
}

#modal-container {
   display: none;
  }
  
  .modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    background: #41BDD9;
    padding: 15px;
    height: 300px;
    width: 300px;
    max-width: 700px;
    text-align: center;
  }
  
  .modal-close {
    float: right;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    background: none;
    color: whitesmoke;
    text-decoration: underline;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 0;
    font-family:'Anime Ace', sans-serif;;
    font-style: bold; 
}
  
   

  

#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}


