button {
    padding: 2px; /* Reduced padding */
    text-align: center;
    text-decoration: none;
    width: 200px;
    height: 200px;
    cursor: pointer;
    background: white;
    border: 5px solid #000;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset -10px 10px 0 1px #bf2424;
    font-family: 'Anime Ace', sans-serif;
    font-weight: bold; /* Removed font-style and percentage from font-weight */
    color: black;
}

button:hover {
    background-color: #bf2424;
    color: white;
}

body {
    background-color: #76aae8;
}

.list-group {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(260px, 1fr)
    ); /* Responsive grid */
    gap: 20px; /* Adjusted gap */
    margin-left: 2rem;
    margin-top: 3rem;
}

header {
    color: #056cf2;
    font-family: 'Pokemon Solid', sans-serif;
    background-color: #c0d9fc;
    text-shadow: 2px 2px #bf2424;
    font-size: 5rem; /* Adjusted font size */
    text-align: center;
}

p {
    font-size: 2rem;
    margin-bottom: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    font-style: bold; /* Removed font-style */
}

img {
    width: 50%; /* Make images responsive */
    margin-left: 25%;
}

.modal-content {
    height: auto; /* Adjusted height */
    width: auto;
    box-sizing: border-box;
    background-color: #c0d9fc;
}

@media only screen and (max-width: 1000px) {
    img {
        width: 100%;
    }
}

html,
body {
    font-family: Arial, sans-serif;
}

input[type='text'] {
    transition: width 0.15s ease-in-out;
}

.navbar {
    height: auto; /* Adjusted height */
}
